@model DockSiiide.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholeDayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholeDayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HalfDayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HalfDayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
